
                <!--                        <div class="t396__elem tn-elem tn-elem__5639092941678911501770 t-animate t-animate_wait"-->
                <!--                             data-elem-id="1678911501770" data-elem-type="shape" data-field-top-value="856"-->
                <!--                             data-field-left-value="91" data-field-height-value="76" data-field-width-value="30"-->
                <!--                             data-field-axisy-value="top" data-field-axisx-value="left"-->
                <!--                             data-field-container-value="grid" data-field-topunits-value="px"-->
                <!--                             data-field-leftunits-value="px" data-field-heightunits-value="px"-->
                <!--                             data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="0.5"-->
                <!--                             data-animate-distance="100" data-animate-trigger-offset="100" data-animate-mobile="y"-->
                <!--                             data-field-left-res-320-value="11"-->
                <!--                             data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"-->
                <!--                             style="width: 60px; left: 772.5px; top: 756px; height: 76px; transform: unset; transition-duration: 0.5s;"-->
                <!--                             data-observer-ready="true">-->
                <!--                            <div class="tn-atom t-bgimg" style="background-color:#68904d;"></div>-->
                <!--                        </div>-->
                <!--                        <div class="t396__elem tn-elem tn-elem__5639092941678911501770 t-animate t-animate_wait"-->
                <!--                             data-elem-id="1678911501770" data-elem-type="shape" data-field-top-value="856"-->
                <!--                             data-field-left-value="150" data-field-height-value="76" data-field-width-value="60"-->
                <!--                             data-field-axisy-value="top" data-field-axisx-value="left"-->
                <!--                             data-field-container-value="grid" data-field-topunits-value="px"-->
                <!--                             data-field-leftunits-value="px" data-field-heightunits-value="px"-->
                <!--                             data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="0.5"-->
                <!--                             data-animate-distance="100" data-animate-trigger-offset="100" data-animate-mobile="y"-->
                <!--                             data-field-left-res-320-value="11"-->
                <!--                             data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"-->
                <!--                             style="width: 60px; left: 772.5px; top: 756px; height: 76px; transform: unset; transition-duration: 0.5s;"-->
                <!--                             data-observer-ready="true">-->
                <!--                            <div class="tn-atom t-bgimg" style="background-color:#68905d;"></div>-->
                <!--                        </div>-->
                <!--                        <div class="t396__elem tn-elem tn-elem__5639092941678911545453 t-animate t-animate_wait"-->
                <!--                             data-elem-id="1678911545453" data-elem-type="shape" data-field-top-value="756"-->
                <!--                             data-field-left-value="166" data-field-height-value="76" data-field-width-value="60"-->
                <!--                             data-field-axisy-value="top" data-field-axisx-value="left"-->
                <!--                             data-field-container-value="grid" data-field-topunits-value="px"-->
                <!--                             data-field-leftunits-value="px" data-field-heightunits-value="px"-->
                <!--                             data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1"-->
                <!--                             data-animate-distance="100" data-animate-trigger-offset="100" data-animate-mobile="y"-->
                <!--                             data-field-left-res-320-value="86"-->
                <!--                             data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"-->
                <!--                             style="width: 60px; left: 847.5px; top: 756px; height: 76px; transform: unset; transition-duration: 1s;"-->
                <!--                             data-observer-ready="true">-->
                <!--                            <div class="tn-atom t-bgimg" data-original="common/files/Rectangle_19.svg"-->
                <!--                                 style="background-image:url(&#39;./common/files/Rectangle_19.svg&#39;);"></div>-->
                <!--                        </div>-->
                <!--                        <div class="t396__elem tn-elem tn-elem__5639092941678911548042 t-animate t-animate_wait"-->
                <!--                             data-elem-id="1678911548042" data-elem-type="shape" data-field-top-value="756"-->
                <!--                             data-field-left-value="239" data-field-height-value="76" data-field-width-value="60"-->
                <!--                             data-field-axisy-value="top" data-field-axisx-value="left"-->
                <!--                             data-field-container-value="grid" data-field-topunits-value="px"-->
                <!--                             data-field-leftunits-value="px" data-field-heightunits-value="px"-->
                <!--                             data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="1.5"-->
                <!--                             data-animate-distance="100" data-animate-trigger-offset="100" data-animate-mobile="y"-->
                <!--                             data-field-left-res-320-value="159"-->
                <!--                             data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"-->
                <!--                             style="width: 60px; left: 920.5px; top: 756px; height: 76px; transform: unset; transition-duration: 1.5s;"-->
                <!--                             data-observer-ready="true">-->
                <!--                            <div class="tn-atom t-bgimg" data-original="common/files/Rectangle_20.svg"-->
                <!--                                 style="background-image:url(&#39;./common/files/Rectangle_20.svg&#39;);"></div>-->
                <!--                        </div>-->
                <!--                        <div class="t396__elem tn-elem tn-elem__5639092941678911550376 t-animate t-animate_wait"-->
                <!--                             data-elem-id="1678911550376" data-elem-type="shape" data-field-top-value="756"-->
                <!--                             data-field-left-value="313" data-field-height-value="76" data-field-width-value="60"-->
                <!--                             data-field-axisy-value="top" data-field-axisx-value="left"-->
                <!--                             data-field-container-value="grid" data-field-topunits-value="px"-->
                <!--                             data-field-leftunits-value="px" data-field-heightunits-value="px"-->
                <!--                             data-field-widthunits-value="px" data-animate-style="fadeinup" data-animate-duration="2"-->
                <!--                             data-animate-distance="100" data-animate-trigger-offset="100" data-animate-mobile="y"-->
                <!--                             data-field-left-res-320-value="233"-->
                <!--                             data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"-->
                <!--                             style="width: 60px; left: 994.5px; top: 756px; height: 76px; transform: unset; transition-duration: 2s;"-->
                <!--                             data-observer-ready="true">-->
                <!--                            <div class="tn-atom t-bgimg" data-original="common/files/Rectangle_21.svg"-->
                <!--                                 style="background-image:url(&#39;./common/files/Rectangle_21.svg&#39;);"></div>-->
                <!--                        </div>-->

                <!--                      https://t-ready.ru/gotovie-sayti/meropriyatiya/priglashenie-na-svadbu#programs-->

